.header,
.header * {
  box-sizing: border-box;
}
.header {
  background: #909090;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: center;
  width: 755px;
  height: 96px;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-1 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 126px;
  height: 67px;
  position: relative;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-2 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 395px;
  height: 67px;
  position: relative;
}


