/*var*/
$fontsize : 16px; // 數值
$bgcolor : #fff; // 顏色
$fontW: null; //null
$list : 0px 2px; // list
$title :(key : value,
    h1 : 40px,
    h2 : 38px,
    h3 : 30px); // map


$color : #333;
$color : blue !default;
$link : #1900ff;
